/* BODY */
body {
    /* background-image: url("./media/background.jpg");
    background-repeat:no-repeat;
    background-size:cover; */
    font-family: 'Oswald', sans-serif;
    background-color: ivory ;
}
/* -----HEADER----- */

    /* Logo */
    .logo {
        display: flex;
        justify-content: center;
    }

/* NAVBAR */
.navbar ul {
    list-style-type: none;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: inline-block;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    /* padding: 14px 16px; */
    text-decoration: none;
}

.navbarli .dropdown {
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
}

.navbar .dropdown-content a:hover {
    cursor: pointer;
    background-color: wheat;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.parent {
    flex: 25em;
}